
.container{
    background-color: black;
}

.dig{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 120px;
    margin: 10px;
    background-color: #111010;
    border-radius: 20px;
    text-decoration:white;
    font-size: 40px;
}